# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environnements virtuels
.venv/

# Outils
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Configuration locale (secrets !)
.env

# Bases SQLite locales
*.db
*.sqlite3

# Éditeurs / OS
.idea/
.DS_Store
